.cyan {
  --bgColor: #e0f7fa;
  --bgOutside: #ffffff;
  --totalBox: #d6f2ff
  --textColor: #000000;
  --expense: #c300a4;
  --addBtn: #0000ff;
  --addBtnHover: #ffffff;
  --bgAddHover: black;
  --boxShadow: lightblue;
  --btnColor: lightblue;
  --bgColorOpacity: rgba(0, 0, 0, 0.7);
  --headingColor: black; 
  --borderRadius: black;  
}

.black {
  --bgColor: rgb(20, 29, 38);
  --bgOutside: #243447;
  --totalBox: #243447;
  --textColor: #F5F8FA;
  --expense: #6dc2ff;
  --addBtn: #ffffff;
  --addBtnHover: black;
  --bgAddHover:#d3d3d3;
  --boxShadow: #11181d;
  --btnColor: rgb(20,29,38);
  --bgColorOpacity: rgba(0,0,0,.8);
  --headingColor: #F5F8FA; 
--borderRadius: white;  
}

.white {
  --bgColor: #F5F8FA;
  --bgOutside:#E1E8ED;
  --totalBox: #E1E8ED;
  --textColor: #14171A;
  --expense: #6a00c6;
  --addBtn: black;
  --addBtnHover: rgb(209, 208, 208);
  --bgAddHover: black;
  --boxShadow: #d2d2d2;
  --btnColor: #F5F8FA;
  --bgColorOpacity: rgb(255, 255, 255 , .9);
  --headingColor: black; 
  --borderRadius: black;  
}




.mainContainer {
  background-color: var(--bgColor);
  width: 100%;
  min-height: 100vh;
  text-align: center;
  position: relative;
  transition: 1s ;
}

.innerContainer {
  transition: 1s ;
  width: 40%;
  margin: 0 auto;
}

.innerContainer .heading {
  padding-top: 20px;
  color: var(--headingColor);
}
.addExpense {
  position: fixed;
  color: var(--addBtn);
  background-color: var(--bgOutside);
  border-radius: 50%;
  padding: 10px 15px;
  left: 90%;
  bottom: 10%;
  transform: translate(-90%, -10%);
  cursor: pointer;
}

.addExpense:hover {
  color: var(--addBtnHover);
  background-color: var(--bgAddHover);
  /* background-color: white; */
  transition: 0.3s ease-in;
}

.addArrow {
  position: absolute;
  top: 80%;
  right: 13%;
  transform: translate(-13%, -80%);
  font-size: 18px;
  animation: blinker 2s linear infinite;
  z-index: 1;
  color: var(--textColor);
}

.arrowIcon {
  position: absolute;
}

/* for blinking */

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/* media quries */
@media screen and (max-width: 1280px) {
  .innerContainer {
    width: 40%;
  }
}

@media screen and (max-width: 986px) {
  .innerContainer {
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .innerContainer {
    width: 60%;
  }
  .addArrow {
    right: 16%;
    transform: translate(-16%, -80%);
  }
}
@media screen and (max-width: 600px) {
  .innerContainer {
    width: 80%;
  }
}
@media screen and (max-width: 486px) {
  .innerContainer {
    width: 90%;
  }
}
@media screen and (max-width: 390px) {
  .heading {
    font-size: 20px;
  }
  .addArrow {
    right: 20%;
  }
}
