.mainContainer {
  background-color: #e0f7fa;
  width: 100%;
  min-height: 100vh;
  text-align: center;
  position: relative;
}

.innerContainer {
  width: 40%;
  margin: 0 auto;
}

.innerContainer .heading {
  padding-top: 20px;
}
.addExpense {
  position: fixed;
  color: blue;
  background-color: white;
  border-radius: 50%;
  padding: 10px 15px;
  left: 90%;
  bottom: 10%;
  transform: translate(-90%, -10%);
  cursor: pointer;
}

.addExpense:hover {
  color: white;
  background-color: black;
  transition: 0.3s ease-in;
}

.addArrow {
  position: absolute;
  top: 80%;
  right: 13%;
  transform: translate(-13%, -80%);
  font-size: 18px;
  animation: blinker 2s linear infinite;
  z-index: 1;
}

.arrowIcon {
  position: absolute;
}

/* for blinking */

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/* media quries */
@media screen and (max-width: 1280px) {
  .innerContainer {
    width: 40%;
  }
}

@media screen and (max-width: 986px) {
  .innerContainer {
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .innerContainer {
    width: 60%;
  }
  .addArrow {
    right: 16%;
    transform: translate(-16%, -80%);
  }
}
@media screen and (max-width: 600px) {
  .innerContainer {
    width: 80%;
  }
}
@media screen and (max-width: 486px) {
  .innerContainer {
    width: 90%;
  }
}
@media screen and (max-width: 390px) {
  .heading {
    font-size: 20px;
  }
  .addArrow {
    right: 20%;
  }
}
